
.login-form {
  flex: 0 0 350px;
  border: 1px solid #eeeeee;
  width: 350px;
  padding:30px;
  background:#FFFFFF;
  border-radius:4px;
}

.login-form-hd {
  padding: 0 0 10px 0;
  color: #333333;
  font-size:18px;
  font-weight:bold;
}

.login-err {
  color: #ff4d4f;
  font-size: 14px;
  margin: 10px 0;
}
